.panda-bg-warning{
    background-color: #FCEAE8;
}

.bag-bg{
    background-color: #FFA500;
}

.shoe-bg{
    background-color: #DA70D6;
}

.watch-bg{
    background-color: rgb(11, 186, 210);
}

.panda-btn-warning{
        text-decoration: none;
        background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
        color: #fff;
        border: none;
        border-radius: 8px;
        padding: 9px 25px;
        margin-top: 20px;
}

*a{
    text-decoration: none;
}